target/
!.mvn/wrapper/maven-wrapper.jar
logs/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
classes/
out/
.gradle/
!gradle/wrapper/gradle-wrapper.jar
.gradletasknamecache/

### NetBeans ###
nbproject/private/
build/

nbbuild/
dist/
nbdist/
.nb-gradle/