<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error Page</title>
</head>
<body>
    <P>You are here, because smth went wrong. Oooops!</P>
    <form th:action="@{/registration}" method="get">
        <button class="btn btn-md btn-warning btn-block" type="Submit">Go To Registration Page</button>
    </form>
    <form th:action="@{/login}" method="get">
        <button class="btn btn-md btn-warning btn-block" type="Submit">Go To Login Page</button>
    </form>
</body>
</html>