<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Login page</title>
    <th:block th:replace="fragments/head :: head"/> <!-- Import scripts to head-->
</head>

<body>
<th:block th:replace="fragments/header :: header"/> <!-- Import scripts to head-->
<th:block th:replace="fragments/footer :: footer"/> <!-- Import scripts to head-->
<div class="container">
    <img th:src="@{/images/login.jpg}" class="img-responsive center-block" width="300" height="300" alt="Logo"/>
    <!--/*@thymesVar id="user" type="java"*/-->
    <form action="#" th:action="@{/login}" th:object="${user}" method="post" class="form-signin">
        <h3 class="form-signin-heading" th:text="Welcome"></h3>
        <br/>

        <input type="text" id="username" firstName="username" th:field="*{username}" th:placeholder="Username"
               class="form-control" title=""/> <br/>
        <input type="password" th:placeholder="Password"
               id="password" firstName="password" th:field="*{password}" class="form-control" title=""/> <br/>

        <div align="center" th:if="${param.error}">
            <p style="font-size: 20; color: #FF1C19;">Username or Password invalid, please verify</p>
        </div>
        <button class="btn btn-lg btn-primary btn-block" firstName="Submit" value="Login" type="Submit"
                th:text="Login"></button>
    </form>
</div>
</body>
</html>
