<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Rest response Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">

    <form th:action="@{/logout}" method="get">
        <button class="btn btn-md btn-danger btn-block" firstName="registration"
                type="Submit">Logout
        </button>
    </form>

    <input type="button" name="answer" value="Show json" onclick=""/>

    <div id="testDiv">
        <p id="myLink" style="color: aqua"></p>
        <span id="username"></span>
        <span id="email"></span>
        <span id="firstName"></span>
        <span id="lastName"></span>
    </div>
    <div style="color: #FF1C19;  display: block">
        qwerty
    </div>
    <div class="panel-group" style="margin-top:40px">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span th:utext="${username}"></span>
            </div>
            <div class="panel-body">
                <img th:src="@{/images/beer.jpg}" class="img-responsive center-block" width="400" height="400"
                     alt="Beer"/>
            </div>
            <p class="admin-message-text text-center" th:utext="${adminMessage}"></p>
        </div>

    </div>


</div>

<script>

    //get http and host with port;
    var url = window.location.href;
    var arr = url.split("/");
    var httpHostAndPort = arr[0] + "//" + arr[2];

    var json = (function () {
        var json = null;
        $.ajax({
            'async': false,
            'global': false,
            'url': httpHostAndPort + '/loggedin/',
            'dataType': 'json',
            'success': function (data) {
                json = data;
            }
        });
        return json;
    })();
    alert("before");

    var jsonStr = JSON.stringify(json);
    var parsedJson = JSON.parse(jsonStr);
    alert(parsedJson["username"] + " " + parsedJson["email"] + " " + parsedJson["firstName"] + " " + parsedJson["lastName"]);
    alert("after " + jsonStr);

    document.getElementById('username').textContent = parsedJson["username"];
    document.getElementById('email').textContent = parsedJson["email"];
    document.getElementById('firstName').textContent = parsedJson["firstName"];
    document.getElementById('lastName').textContent = parsedJson["lastName"];
    alert(httpHostAndPort);

</script>
</body>

</html>