<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manage Users</title>

    <th:block th:replace="fragments/head :: head"/> <!-- Import scripts to head-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/userlist.css}"/>
    <script th:src="@{/js/userlist.js}"></script>

</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div th:replace="fragments/footer :: footer"></div>
<div class="container">

    <div th:with="hasAuthority=${false}">

        <div id="accordion">
            <div class="card" th:each="user: ${userList}">
                <div class="card-header">
                    <div class="card-link" th:text="${user.username}" data-toggle="collapse" data-parent="#accordion"
                         th:href="'#collapse' + ${user.id}">
                        <span class="glyphicon glyphicon-plus"></span>
                    </div>
                    <!--<form>-->
                    <div th:id="'collapse' + ${user.id}" class="collapse">
                        <div th:each=" role: ${user.roles}" class="form-check form-check-inline">
                            <ul class="card-body">
                                <li th:text="${role.roleType}"></li>
                            </ul>
                        </div>
                        <button type="submit" class="btn btn-primary float-right" th:id="'myBtn' + ${user.id}"
                                th:value="${user.id}">Amend
                        </button>
                    </div>

                    <!-- The Modal -->
                    <div id="myModal" class="modal">

                        <!-- Modal content -->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h2 style="text-align: left">Amend Roles</h2>
                                <span class="close">&times;</span>
                            </div>
                            <div class="modal-body">
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label" th:each="role: ${roleList}">
                                        <input type="checkbox" class="form-check-input" th:text="${role.roleType}"/>
                                    </label>
                                </div>
                                <p>Some text in the Modal Body</p>
                                <p>Some other text...</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>